<p id="notice"><%= notice %></p>


<div id="main-container" class="container" style="text-align: left">
  <div class="row">
  <div class="Unidade">
    <%if !params[:area_id].present? %>
      <%= form_tag(unidades_path, :method => :get) do %>
	    <%= text_field_tag 'search', nil, placeholder: 'Digite a unidade' %>
	    <%= submit_tag "Pesquisar" %>
	  <% end %>
<% end %>

    
      <h1>Unidades</h1>
      <table>
        <tbody>
          <% @unidades.each do |unidade| %>
        <tr>
          <td><div class="botaoPadrao Espaco"><%= link_to unidade.descricao + ':   ' + unidade.area.descricao , unidade_disciplinas_path(unidade.id),  style: "color:#FFF;"%></div></td>
        </tr>
      <% end %>
        </tbody>
      </table>
  </div>
  </div>
  
</div>



