<p id="notice"><%= notice %></p>

<h1>Utilizadores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Matricula</th>
      <th>Identificador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilizadors.each do |utilizador| %>
      <tr>
        <td><%= utilizador.nome %></td>
        <td><%= utilizador.email %></td>
        <td><%= utilizador.matricula %></td>
        <td><%= utilizador.identificador %></td>
        <td><%= link_to 'Editar', edit_utilizador_path(utilizador) %></td>
        <td><%= link_to 'Excluir', utilizador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Utilizador', new_utilizador_path %>

<%= link_to 'Início', areas_path %>



