<%= flash_message %>

<div id="main-container" class="container" style="text-align: left">
  <div class="row">
    
     <div class="Disciplina">
      <h1>Disciplinas</h1>
      <table>
        <tbody>
          <% @disciplinas.each do |disciplina| %>
        <tr>
           
          <td><div class="botaoPadrao Espaco"><%= link_to disciplina.sigla + ':   ' + disciplina.descricao, disciplina_monitoria_path(disciplina.id),  style: "color: #FFF;"%></div></td>
          <td><div class="botaoPadrao Espaco"><%= link_to 'Detalhes', disciplina_path(disciplina.id), style: "color: #FFF;"%></div></td>
          <td><div class="botaoPadrao Espaco"><%= link_to 'Editar', edit_disciplina_path(disciplina), style: "color: #FFF;" %></div></td>
          <td><div class="botaoPadrao Espaco"><%= link_to 'Excluir', disciplina, method: :delete, data: { confirm: 'Certeza que quer deletar essa disciplina?' }, style: "color: #FFF;" %></div></td>
          
       
        <% end %>
         
        </tbody>  
       
        </tr>
      </table>
      <td><div style="margin-top:30px;" class="btn btn-default btn-lg"><%= link_to 'Nova Disciplina', new_disciplina_path, style: "color: black;" %></div></td>
    </div>
 
</div>

</div>

<%= will_paginate @disciplinas %>

