<%= form_for(monitorium) do |f| %>
  <% if monitorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monitorium.errors.count, "error") %> prohibited this monitorium from being saved:</h2>

      <ul>
      <% monitorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :utilizador_id %>
    <%= f.text_field :utilizador_id %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :disciplina_id %>
    <%= f.text_field :disciplina_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
