<%= form_for(monitorium) do |f| %>
  <% if monitorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monitorium.errors.count, "error") %> prohibited this monitorium from being saved:</h2>

      <ul>
      <% monitorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :monitor_id %>
    <%= f.select :monitor_id, options_for_select(User.where(role: 'monitor').map{|s|[s.name, s.id]}) %>
  </div>

  <div class="field">
    <%= f.label :professor_id %>
    <%= f.select :professor_id, options_for_select(User.where(role: 'professor').map{|s|[s.name, s.id]}) %>
  </div>

  <div class="field">
    <%= f.label :disciplina_id %>
    <%= f.select :disciplina_id, options_for_select(Disciplina.order(:descricao).map{|s|[s.descricao, s.id]}) %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <div class="field">
    <%= f.label :horario %>
    <%= f.text_field :horario %>
  </div>
  
   <div class="field">
    <%= f.label :capacidade %>
    <%= f.number_field :capacidade %>
  </div>
  

  <div class="actions">
    <%= f.submit "Criar Monitoria"%>
  </div>
<% end %>
