<%= form_for(monitorium) do |f| %>
  <% if monitorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monitorium.errors.count, "error") %> prohibited this monitorium from being saved:</h2>

      <ul>
      <% monitorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :monitor %>
    <%= f.text_field :monitor %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.text_field :data %>
  </div>

  <div class="field">
    <%= f.label :inicio %>
    <%= f.text_field :inicio %>
  </div>

  <div class="field">
    <%= f.label :fim %>
    <%= f.text_field :fim %>
  </div>

  <div class="field">
    <%= f.label :disciplina_id %>
    <%= f.select :disciplina_id, options_for_select(Disciplina.all.map{|s|[s.descricao, s.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
