<p id="notice"><%= notice %></p>
<div id="main-container" class="container" style="text-align: left">
  <div class="row">
<%= form_tag(monitoria_path, :method => :get) do %>
  <%= text_field_tag 'search', nil, placeholder: 'Digite o monitor' %>
  <%= submit_tag "Pesquisar" %>
<% end %>
<h1>Monitoria</h1>

<table>
  <thead>
    <tr>
      <th>Monitor</th> 
      <th>Data</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Disciplina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monitoria.each do |monitorium| %>
      <tr>
        <td><%= monitorium.monitor %></td>
        <td><%= monitorium.data %></td>
        <td><%= monitorium.inicio %></td>
        <td><%= monitorium.fim %></td>
        <td><%= monitorium.disciplina.sigla %></td>
        <td><%= link_to 'Destalhes', monitorium %></td>
        <td><%= link_to 'Editar', edit_monitorium_path(monitorium) %></td>
        <td><%= link_to 'Apagar', monitorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn btn-primary"> <%= link_to 'Nova Monitoria', new_monitorium_path, style: "color: white;" %> </div>

<div class="btn btn-primary"> <%= link_to 'Voltar', :back, style: "color: white;" %> </div>

  </div>
</div>
