<p id="notice"><%= notice %></p>


<div id="main-container" class="container" style="text-align: left">
  <div class="row">

    <div class="Conteudo">
      <h1>Monitorias</h1>

      <table class="TabelaMonitorias">
        
        <thead>
          <tr>
            <th>DATA&nbsp;&nbsp;&nbsp;</th>
            <th>MONITOR&nbsp;&nbsp;&nbsp;</th>
            <th>PROFESSOR&nbsp;&nbsp;&nbsp;</th>
            <th>DISCIPLINA</th>
          </tr>
        </thead>


        <tbody>

        <% @monitoria.each do |monitorium| %>
            <tr>
            <td><strong><%= monitorium.data %></strong></td>
            <td><%= monitorium.monitor.name %></td>
            <td><%= monitorium.professor.name %></td>
            <td><%= monitorium.disciplina.sigla %></td>
            <td><%= link_to 'Detalhes', monitorium %></td>
            <td><%= link_to 'Agendar', agendar_monitorium_path(monitorium),  data: { confirm: 'Certeza que gostaria de agendar essa monitoria?' } %></td>
            <td><%= link_to 'Editar', edit_monitorium_path(monitorium) %></td>
            <td><%= link_to 'Excluir', monitorium, method: :delete, data: { confirm: 'Certeza que quer cancelar essa monitoria?' } %></td>
            <td><%= link_to 'Cancelar Agendamento', cancelar_monitorium_path(monitorium),  data: { confirm: 'Certeza que gostaria de cancelar o agendamento dessa aula?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
       <div style="margin-top:30px"; class="btn btn-default btn-lg"> <%= link_to 'Nova Monitoria', new_monitorium_path, style: "color: black;" %></div>
    </div>
  </div>
</div>

