<p id="notice"><%= notice %></p>

<html lang="pt-br">
<div id="main-container" class="container" style="text-align: left">
  <div class="row">

    <div class="Conteudo">
      <h1 class="Fonte">Monitorias</h1>

      <table class="TabelaMonitorias">
        
        <thead>
          <tr>
            <th><strong>DATA</strong></th>
            <th><strong>MONITOR</strong></th>
            <th><strong>PROFESSOR</strong></th>
            <th><strong>DISCIPLINA</strong></th>
            
          </tr>
        </thead>


        <tbody>

        <% @monitoria.each do |monitorium| %>
            <tr>
            <td><strong><%= monitorium.data %></strong></td>
            <td><%= monitorium.monitor.name %></td>
            <td><%= monitorium.professor.name %></td>
            <td><%= monitorium.disciplina.sigla %></td>
            <td><%= link_to 'Detalhes', monitorium %></td>
            <td><%= link_to 'Agendar', agendar_monitorium_path(monitorium),  data: { confirm: 'Certeza que gostaria de agendar essa monitoria?' } %></td>
            <td><%= link_to 'Editar', edit_monitorium_path(monitorium) %></td>
            <td><%= link_to 'Excluir', monitorium, method: :delete, data: { confirm: 'Certeza que quer cancelar essa monitoria?' } %></td>
            <td><%= link_to 'Cancelar Agendamento', cancelar_monitorium_path(monitorium),  data: { confirm: 'Certeza que gostaria de cancelar o agendamento dessa aula?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
       <div class="btn btn-default btn-lg"> <%= link_to 'Nova Monitoria', new_monitorium_path, style: "color: black;" %></div>
    </div>
  </div>
</div>

<br>

