<%= flash_message %>


<div id="main-container" class="container" style="text-align: left">
  <div class="row">

    <div class="Conteudo">
      <h1>Monitorias</h1>

      <table class="TabelaMonitorias">
        
        <thead>
          <tr>
            <th>DATA&nbsp;&nbsp;&nbsp;</th>
            <th>MONITOR&nbsp;&nbsp;&nbsp;</th>
            <th>PROFESSOR&nbsp;&nbsp;&nbsp;</th>
            <th>DISCIPLINA</th>
          </tr>
        </thead>


        <tbody>

        <% @monitoria.each do |monitorium| %>
            <tr>
              <td><%= post_date(monitorium.data)%></td>
              <td><%= monitorium.monitor.name %></td>
              <td><%= monitorium.professor.name %></td>
              <td><%= monitorium.disciplina.sigla %></td>
            <%if @User != nil %>
              <td><div class="botaoPadrao Espaco"><%= link_to 'Detalhes', monitorium , style: "color: #FFF;"%></div></td>
              <% if (monitorium.capacidadeatual > 0)%>
                <td><div class="botaoPadrao Espaco"><%= link_to 'Agendar', agendar_monitorium_path(monitorium),  data: { confirm: 'Certeza que gostaria de agendar essa monitoria?' }, style: "color: #FFF;"%></div></td>
              <%end%>

              <%if policy(Monitorium).edit? && @User.name == monitorium.monitor.name %>
                  <td><div class="botaoPadrao Espaco"><%= link_to 'Editar', edit_monitorium_path(monitorium), style: "color: #FFF;"%></div></td>
                  <td><div class="botaoPadrao Espaco"><%= link_to 'Excluir', monitorium, method: :delete, data: { confirm: 'Certeza que quer cancelar essa monitoria?' } , style: "color: #FFF;"%></div></td>
              <%end%>
              <td><div class="botaoPadrao Espaco"><%= link_to 'Cancelar Agendamento', cancelar_monitorium_path(monitorium),  data: { confirm: 'Certeza que gostaria de cancelar o agendamento dessa aula?' } , style: "color: #FFF;"%></div></td>
            <%end%>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%if @User != nil %> 
        <%if policy(Monitorium).new? %>
          <div style="margin-top:30px"; class="btn btn-default btn-lg"> <%= link_to 'Nova Monitoria', new_monitorium_path, style: "color: black;" %></div>
        <%end%>  
      <%end%>
    </div>
  </div>
</div>

