<p id="notice"><%= notice %></p>

<p>
  <strong>Utilizador:</strong>
  <%= @monitorium.utilizador %>
</p>

<p>
  <strong>Local:</strong>
  <%= @monitorium.local %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @monitorium.disciplina %>
</p>

<%= link_to 'Edit', edit_monitorium_path(@monitorium) %> |
<%= link_to 'Back', monitoria_path %>
