<p id="notice"><%= notice %></p>

<p>
  <strong>Monitor:</strong>
  <%= @monitorium.monitor %>
</p>

<p>
  <strong>Local:</strong>
  <%= @monitorium.local %>
</p>

<p>
  <strong>Data:</strong>
  <%= @monitorium.data %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @monitorium.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @monitorium.fim %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @monitorium.disciplina %>
</p>

<%= link_to 'Edit', edit_monitorium_path(@monitorium) %> |
<%= link_to 'Back', monitoria_path %>
