<p id="notice"><%= notice %></p>

<p>
  <strong>Monitor:</strong>
  <%= @monitorium.monitor.name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @monitorium.professor.name %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @monitorium.disciplina.descricao %>
</p>

<p>
  <strong>Local:</strong>
  <%= @monitorium.local %>
</p>

<p>
  <strong>Data:</strong>
  <%= @monitorium.data %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @monitorium.horario %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @monitorium.capacidade %>
</p>

<p>
  <strong>Vagas:</strong>
  <%= @monitorium.capacidadeatual %>
</p>


<%= link_to 'Edit', edit_monitorium_path(@monitorium) %> |
<%= link_to 'Back', monitoria_path %>
